.bannerslide-default-slider .jquery-slider-wrapper
{
  position:relative;
  clear:both;
  zoom:1;
}

.bannerslide-default-slider .jquery-slider-slide
{
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.bannerslide-default-slider .jquery-slider-slide img
{
  border:0;
  margin:0;
  padding:0;
}

.bannerslide-default-slider .jquery-slider-slide-current
{
  display:block;
  z-index:2;
}

.bannerslide-default-slider .jquery-slider-slide-next
{
  display:block;
  z-index:1;
}

.bannerslide-default-slider .jquery-slider-selectors
{
  display:inline;
  float:left;
  overflow:hidden;
  position:absolute;
  bottom:20px;
  left:50%;
  z-index:4;
  color:#FFFFFF;
}

.bannerslide-default-slider .jquery-slider-selector
{
  display:inline;
  float:left;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
  width: 6px;
  height: 6px;
  margin: 0 4px;
}

.bannerslide-default-slider .jquery-slider-selector-current
{
  opacity: 1;
}

.bannerslide-default-slider .jquery-slider-selector span
{
  display:none;
}

.bannerslide-default-slider .jquery-slider-control
{
  position:absolute;
  right:13px;
  top:11px;
  cursor: pointer;
  width:9px;
  height:14px;
  z-index:4;
}

.bannerslide-default-slider .jquery-slider-control span
{
  display:none;
}

.bannerslide-default-slider .jquery-slider-control-play
{
  background:url(image/slide1/jquery-slider-theme.png) no-repeat 0px -42px;
}

.bannerslide-default-slider .jquery-slider-control-pause
{
  background:url(image/slide1/jquery-slider-theme.png) no-repeat -10px -42px;
}

.bannerslide-default-slider .jquery-slider-navigation
{
  display:block;
}

.bannerslide-default-slider .jquery-slider-navigation-prev
{
  width: 50px;
  height: 35px;
  background: rgb(54, 52, 53);
  position: absolute;
  top: 50%;
  left: -34px;

  -moz-transform: skew(-20deg) translateY(-50%); /* Для Firefox */
  -ms-transform: skew(-20deg) translateY(-50%); /* Для IE */
  -webkit-transform: skew(-20deg) translateY(-50%); /* Для Safari, Chrome, iOS */
  -o-transform: skew(-20deg) translateY(-50%); /* Для Opera */
  transform: skew(-20deg) translateY(-50%);
  cursor: pointer;
  opacity: 1;
  margin-top:-20px;
  z-index:4;
}

.bannerslide-default-slider .jquery-slider-navigation-prev:after
{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFdSURBVGhD7dFtboMwEIRhrpTb9G96khy8pfWW15N+GFjbNGElPxJSGGzvWJmGYfg/8zy/2MNrLKn4NT1vPFfiGFLh1/S8f8B+W8bnc/tdPgtxibXy2akvsVc+O+UlvOWzU12iVL50mdIa28sxz2EF1orxKltrOe6x9goRiWfPw3iKEAvx8y/hLcAnIf7iPeNwNYP5LMRSc9YhageyRIh/qD2zWcsglgnxHy1nV2kdwFIhLmqdsavnYJYL8aqeWUW9B7JFiDf1zpQjDmKbEO/qnp0WXroOAFuF2MVmrXS4sGRbWn9btjX+hQnbhdjNZtpstpsbn3xsQ2t5s8y8I67y7RJ15bO02feXFSy174ir9XToQm8hjoPeQhwHvYU4DnoLcRz0FuI46C3EcdBbiOOgtxDHQW8hjoPeQhwHvYU4DnoLcRz0FuI46C3EcdBbiOOgtxDHQW8hHobhUNP0Ce930lhLP+GrAAAAAElFTkSuQmCC);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .4;
  -moz-transform: skew(20deg) rotate(-90deg) translate(50%, 100%); /* Для Firefox */
  -ms-transform: skew(20deg) rotate(-90deg) translate(50%, 100%); /* Для IE */
  -webkit-transform: skew(20deg) rotate(-90deg) translate(50%, 100%); /* Для Safari, Chrome, iOS */
  -o-transform: skew(20deg) rotate(-90deg) translate(50%, 100%); /* Для Opera */
  transform: skew(20deg) rotate(-90deg) translate(50%, 100%);
}

.bannerslide-default-slider .jquery-slider-navigation-prev:hover
{
  background: #E28E1F;
}

.bannerslide-default-slider .jquery-slider-navigation-prev:hover:after
{
  opacity:1;
}

.bannerslide-default-slider .jquery-slider-navigation-prev span
{
  display:none;
}

.bannerslide-default-slider .jquery-slider-navigation-next
{
  width: 50px;
  height: 35px;
  background: rgb(54, 52, 53);
  position: absolute;
  top: 50%;
  right: -22px;
  -moz-transform: skew(-20deg) translateY(-50%); /* Для Firefox */
  -ms-transform: skew(-20deg) translateY(-50%); /* Для IE */
  -webkit-transform: skew(-20deg) translateY(-50%); /* Для Safari, Chrome, iOS */
  -o-transform: skew(-20deg) translateY(-50%); /* Для Opera */
  transform: skew(-20deg) translateY(-50%);
  cursor: pointer;
  opacity: 1;
  margin-top:-20px;
  z-index:4;
}

.bannerslide-default-slider .jquery-slider-navigation-next:after
{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFdSURBVGhD7dFtboMwEIRhrpTb9G96khy8pfWW15N+GFjbNGElPxJSGGzvWJmGYfg/8zy/2MNrLKn4NT1vPFfiGFLh1/S8f8B+W8bnc/tdPgtxibXy2akvsVc+O+UlvOWzU12iVL50mdIa28sxz2EF1orxKltrOe6x9goRiWfPw3iKEAvx8y/hLcAnIf7iPeNwNYP5LMRSc9YhageyRIh/qD2zWcsglgnxHy1nV2kdwFIhLmqdsavnYJYL8aqeWUW9B7JFiDf1zpQjDmKbEO/qnp0WXroOAFuF2MVmrXS4sGRbWn9btjX+hQnbhdjNZtpstpsbn3xsQ2t5s8y8I67y7RJ15bO02feXFSy174ir9XToQm8hjoPeQhwHvYU4DnoLcRz0FuI46C3EcdBbiOOgtxDHQW8hjoPeQhwHvYU4DnoLcRz0FuI46C3EcdBbiOOgtxDHQW8hHobhUNP0Ce930lhLP+GrAAAAAElFTkSuQmCC);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .4;
  -moz-transform: skew(20deg) rotate(90deg) translate(-50%, -100%); /* Для Firefox */
  -ms-transform: skew(20deg) rotate(90deg) translate(-50%, -100%); /* Для IE */
  -webkit-transform: skew(20deg) rotate(90deg) translate(-50%, -100%); /* Для Safari, Chrome, iOS */
  -o-transform: skew(20deg) rotate(90deg) translate(-50%, -100%); /* Для Opera */
  transform: skew(20deg) rotate(90deg) translate(-50%, -100%);
}

.bannerslide-default-slider .jquery-slider-navigation-next:hover
{
  background: #E28E1F;
}

.bannerslide-default-slider .jquery-slider-navigation-next:hover:after
{
  opacity:1;
}

.bannerslide-default-slider .jquery-slider-navigation-next span
{
  display:none;
}


.bannerslide-default-slider .jquery-slider-wrapper .caption
{
  padding:6px 10px;
  background:#333333;
  font-size:13px;
  position:absolute;
  bottom:10px;
  left:10px;
  color:#FFFFFF;
}

.bannerslide-default-slider .jquery-slider-timer
{
  color:#FFFFFF;
  position:absolute;
  top:5px;
  right:5px;
  z-index:4;
  overflow:hidden;
  width:26px;
  height:26px;
}

.bannerslide-default-slider .jquery-slider-timer-rotator
{
  background:url(image/slide1/jquery-slider-rotator-left.png) no-repeat 0 0;
  overflow:hidden;
  width:26px;
  height:26px;
  position:absolute;
  top:0;
  left:-13px;
  z-index:3;
}

.bannerslide-default-slider .jquery-slider-timer-mask
{
  overflow:hidden;
  width:13px;
  height:26px;
  position:absolute;
  top:0;
  right:0px;
  z-index:2;
}

.bannerslide-default-slider .jquery-slider-timer-rotator-move
{
  left:0;
}

.bannerslide-default-slider .jquery-slider-timer-mask-move
{
  width:26px;
  left:0;
  background:url(image/slide1/jquery-slider-rotator-right.png) no-repeat 0 0;
}
